/* mixin */
/* variables */
/* Animations */
/* spinner */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
.chargement {
  animation: load 3s forwards;
  background-color: white;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
}

@keyframes load {
  70% {
    opacity: 1;
  }
  99% {
    opacity: 0.25;
    transform: scale(1);
  }
  100% {
    opacity: 0.25;
    transform: scale(0);
  }
}
.spinner {
  animation: spin 1s infinite linear;
  border: solid 2vmin transparent;
  border-radius: 50%;
  border-right-color: #9356DC;
  border-top-color: #9356DC;
  box-sizing: border-box;
  height: 20vmin;
  left: calc(50% - 10vmin);
  position: fixed;
  top: calc(50% - 10vmin);
  width: 20vmin;
  z-index: 1;
}
.spinner:before {
  animation: spin 2s infinite linear;
  border: solid 2vmin transparent;
  border-radius: 50%;
  border-right-color: #FF79DA;
  border-top-color: #FF79DA;
  box-sizing: border-box;
  content: "";
  height: 16vmin;
  left: 0;
  position: absolute;
  top: 0;
  width: 16vmin;
}
.spinner:after {
  animation: spin 3s infinite linear;
  border: solid 2vmin transparent;
  border-radius: 50%;
  border-right-color: #99E2D0;
  border-top-color: #99E2D0;
  box-sizing: border-box;
  content: "";
  height: 12vmin;
  left: 2vmin;
  position: absolute;
  top: 2vmin;
  width: 12vmin;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
/* boutons */
.button_exploration:hover {
  box-shadow: 6px 12px 10px #b8b8b8;
  filter: brightness(110%);
  transition: 0.2s;
  cursor: pointer;
}

.btn_com:hover {
  box-shadow: 6px 12px 10px #b8b8b8;
  filter: brightness(110%);
  transition: 0.2s;
  cursor: pointer;
}

/* fonctionnement */
.cadre_fonctionnement:hover {
  background-color: #f2eafb;
}
.cadre_fonctionnement:hover .fonctionnement_icon {
  color: #9356DC;
}

/* coeur */
.coeur_vide {
  position: absolute;
  z-index: 1;
}
.coeur_vide:hover {
  animation: vide 1s forwards linear;
  cursor: pointer;
}
.coeur_vide:hover + .coeur {
  opacity: 1;
  transform: scale(1);
  transition: transform 1s linear;
}

.coeur_plein {
  position: absolute;
  transform: scale(0);
  opacity: 0;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@keyframes vide {
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* menu delai*/
.art_1 {
  animation: delai 1000ms 200ms ease-in-out backwards;
}

.art_2 {
  animation: delai 1000ms 400ms ease-in-out backwards;
}

.art_3 {
  animation: delai 1000ms 300ms ease-in-out backwards;
}

.art_4 {
  animation: delai 1000ms 800ms ease-in-out backwards;
}

.art_5 {
  animation: delai 1000ms 1000ms ease-in-out backwards;
}

.art_6 {
  animation: delai 1000ms 1200ms ease-in-out backwards;
}

.art_7 {
  animation: delai 1000ms 1400ms ease-in-out backwards;
}

.art_8 {
  animation: delai 1000ms 1800ms ease-in-out backwards;
}

.art_9 {
  animation: delai 1000ms 2000ms ease-in-out backwards;
}

.art_10 {
  animation: delai 1000ms 2200ms ease-in-out backwards;
}

@keyframes delai {
  0% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}
/* anim check */
.restaurant_article:hover .check {
  background-color: #99E2D0;
  transform: scale(1);
  transform-origin: 50% 0%;
  transition: 800ms;
  width: 20%;
}
.restaurant_article:hover .check .fa-check-circle {
  -webkit-transform: rotate(-360deg);
  transform: rotate(-360deg);
  opacity: 1;
  font-size: 20px;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.check {
  background-color: #99E2D0;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  text-align: center;
  padding-top: 25px;
  color: white;
  height: auto;
  display: flex;
  justify-content: center;
  width: 0px;
  transition: 500ms;
}

.fa-check-circle {
  opacity: 0;
  font-size: 1rem;
  -webkit-transition: 700ms;
  transition: 700ms;
  position: absolute;
  bottom: 20px;
}

.restaurant_article:hover .restaurant_article_text {
  width: 60%;
  transition: 800ms;
}

/* police */
/* --- footer --- */
footer {
  background-color: #383838;
  color: white;
}
footer a {
  color: white;
}

.class_bottom {
  margin: 0;
  padding: 32px 5%;
}

.ul_bottom {
  list-style-type: none;
  padding: 0;
}

.titre_footer {
  font-family: "Shrikhand", sans-serif;
  font-size: 18px;
  font-weight: normal;
  padding-bottom: 0px;
  margin: 0;
}

.li_footer {
  padding-bottom: 8px;
}

.footer_icon {
  padding-right: 8px;
  font-size: small;
}

.fa-utensils {
  padding-right: 13px;
}

/* footer ~ media queries */
@media all and (min-width: 768px) and (max-width: 1200px) {
  .class_bottom {
    padding: 32px 3%;
  }
}
@media all and (min-width: 1200px) {
  .class_bottom {
    padding: 32px 2%;
  }
}

@media all and (min-width: 768px) and (max-width: 1200px) and (orientation: landscape) {
  .titre_footer {
    text-align: center;
    font-size: 20px;
    font-weight: 300;
  }
}
@media all and (min-width: 1200px) {
  .titre_footer {
    text-align: center;
    font-size: 24px;
    font-weight: 300;
  }
}

@media all and (min-width: 768px) and (max-width: 1200px) and (orientation: landscape) {
  .ul_bottom {
    display: flex;
    justify-content: center;
  }
}
@media all and (min-width: 1200px) {
  .ul_bottom {
    display: flex;
    justify-content: center;
  }
}

@media all and (min-width: 768px) and (max-width: 1200px) and (orientation: landscape) {
  .li_footer {
    font-size: 16px;
    padding-right: 50px;
  }
}
@media all and (min-width: 1200px) {
  .li_footer {
    font-size: 18px;
    padding-right: 50px;
  }
}

/* --- header --- */
header {
  display: flex;
  justify-content: center;
  padding: 12px 0 6px 0;
  background-color: #f5f5f5;
  position: relative;
  box-shadow: 0 0 6px 0 #868686;
}

.retour {
  position: absolute;
  bottom: 10px;
  left: 14px;
  color: #383838;
  font-size: large;
}

.logo {
  font-family: "Shrikhand", sans-serif;
}
.logo h1 {
  margin: 0;
  font-weight: 500;
  font-size: 32px;
}

/* header ~ media queries */
@media all and (min-width: 1200px) {
  .logo h1 {
    font-size: 50px;
  }
}

/* ~ index ~ */
body {
  font-family: "Roboto", sans-serif;
  margin: auto;
}

a {
  text-decoration: none;
}

/* index ~ main */
/* index ~ section localisation */
.localisation {
  background-color: #e8e8e8;
}

.localisation_ville {
  display: flex;
  justify-content: center;
}
.localisation_ville .fa-map-marker-alt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 16px;
}
.localisation_ville h2 {
  margin: 16px 0 16px 0;
  font-size: 16px;
}

/* index ~ section presentation */
.presentation {
  background-color: #f5f5f5;
  padding: 40px 2%;
  text-align: center;
}
.presentation h2 {
  margin: 0;
}
.presentation p {
  font-size: 18px;
  font-weight: 300;
  color: gray;
}

.button_exploration {
  border: none;
  color: white;
  border-radius: 32px;
  padding: 16px 25px;
  font-size: 16px;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  box-shadow: 2px 4px 10px #b8b8b8;
  margin: 16px 0;
}

/* index ~ section fonctionnement */
.fonctionnement {
  padding: 16px 5%;
}

.cadre_fonctionnement {
  background-color: #f5f5f5;
  border-radius: 20px;
  box-shadow: 2px 4px 15px -4px #b8b8b8;
  align-items: center;
  padding: 26px 0;
  margin-bottom: 22px;
  display: flex;
}

.nombre_fonctionnement {
  background-color: #9356DC;
  color: white;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -12px;
}

.fonctionnement_icon {
  color: #9e9c9c;
  padding: 0 26px;
  font-size: larger;
}

.fonctionnement_text {
  font-weight: 500;
}

/* index ~ section restaurant */
.restaurant {
  background-color: #f5f5f5;
  padding: 64px 5%;
}
.restaurant h2 {
  margin: 0;
}
.restaurant a {
  color: black;
}

.restaurant_vignette_cadre {
  background-color: white;
  border-radius: 16px;
  box-shadow: 2px 4px 15px -4px #b8b8b8;
  margin-top: 20px;
  position: relative;
}

.restaurant_image {
  object-fit: cover;
  height: 180px;
  width: 100%;
  border-radius: 16px 16px 0 0;
}

.nouveau {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: #99E2D0;
  font-weight: 500;
  font-size: 14px;
  color: #178f5d;
  padding: 8px 12px;
  border-radius: 2px;
}

.lien_text {
  display: flex;
  justify-content: space-between;
  padding: 12px 16px 16px 16px;
}
.lien_text h3 {
  margin: 0;
}
.lien_text p {
  margin: 0;
  padding-top: 4px;
}

.favoris {
  font-size: 25px;
  align-items: center;
  justify-content: center;
  display: flex;
  padding-right: 10px;
  position: relative;
}

/* index ~ media queries */
@media all and (min-width: 768px) and (max-width: 1200px) {
  .presentation br {
    display: none;
  }
}
@media all and (min-width: 1200px) {
  .presentation br {
    display: none;
  }
}

@media all and (min-width: 768px) and (max-width: 1200px) {
  .fonctionnement {
    padding: 16px 30%;
  }
  .fonctionnement h2 {
    text-align: center;
  }
}
@media all and (min-width: 1200px) {
  .fonctionnement {
    padding: 16px 2%;
  }
  .fonctionnement h2 {
    text-align: center;
  }
}

@media all and (min-width: 1200px) {
  .fonctionnement_vignette {
    display: flex;
    justify-content: space-evenly;
  }
}

@media all and (min-width: 1200px) {
  .cadre_fonctionnement {
    width: 25%;
  }
  .cadre_fonctionnement .fonctionnement_icon {
    padding: 0 12%;
  }
}

@media all and (min-width: 768px) and (max-width: 1200px) {
  .restaurant {
    padding: 64px 3%;
  }
}
@media all and (min-width: 1200px) {
  .restaurant {
    padding: 64px 2%;
  }
}

@media all and (min-width: 768px) and (max-width: 1200px) {
  .restaurant_contenu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media all and (min-width: 1200px) {
  .restaurant_contenu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media all and (min-width: 768px) and (max-width: 1200px) {
  .lien_restaurant {
    width: 49%;
  }
}
@media all and (min-width: 1200px) {
  .lien_restaurant {
    width: 24%;
  }
}

/* page menu */
/* page menu ~ image menu */
.restaurant_image_menu {
  width: 100%;
  object-fit: cover;
  height: 250px;
}

/* page menu ~ image menu */
.restaurant_menu {
  position: relative;
  border-radius: 32px 32px 0 0;
  padding: 32px 5%;
  margin-top: -50px;
  background-color: #f5f5f5;
}

.restaurant_titre {
  display: flex;
  justify-content: space-between;
  font-family: "Shrikhand", sans-serif;
  margin-right: 16px;
  padding-bottom: 16px;
}
.restaurant_titre h2 {
  margin: 0;
  font-weight: 500;
  font-size: 27px;
}

.restaurant_menu_titre {
  text-transform: uppercase;
  font-weight: 300;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
  padding-bottom: 6px;
  font-size: 16px;
}

.restaurant_article {
  background-color: white;
  border-radius: 16px;
  box-shadow: 2px 4px 15px -4px #b8b8b8;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  position: relative;
}

.restaurant_article_text {
  width: 75%;
  padding: 10px 0px 10px 10px;
}
.restaurant_article_text h3 {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 18px;
  font-weight: 500;
}
.restaurant_article_text p {
  font-size: 14px;
  margin: 0;
  padding-top: 3px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.restaurant_prix {
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: flex-end;
}

.btn {
  text-align: center;
  padding-top: 16px;
}

.btn_com {
  border: none;
  color: white;
  border-radius: 32px;
  padding: 16px 50px;
  font-size: 16px;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  box-shadow: 2px 4px 10px #b8b8b8;
  margin: 16px 0;
}

/* menu ~ media queries */
@media all and (min-width: 768px) and (max-width: 1200px) {
  .restaurant_image_menu {
    height: 300px;
  }
}
@media all and (min-width: 768px) and (max-width: 1200px) and (orientation: landscape) {
  .restaurant_image_menu {
    height: 350px;
  }
}
@media all and (min-width: 1200px) {
  .restaurant_image_menu {
    height: 500px;
  }
}

@media all and (min-width: 768px) and (max-width: 1200px) {
  .restaurant_menu {
    padding: 32px 3%;
  }
}
@media all and (min-width: 1200px) {
  .restaurant_menu {
    padding: 32px 2%;
  }
}

@media all and (min-width: 1200px) {
  .restaurant_titre {
    padding-left: 2%;
    padding-right: 1%;
  }
}

@media all and (min-width: 768px) and (max-width: 1200px) and (orientation: landscape) {
  .restaurant_contenu_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media all and (min-width: 1200px) {
  .restaurant_contenu_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media all and (min-width: 768px) and (max-width: 1200px) and (orientation: landscape) {
  .restaurant_contenu_menu {
    width: 30%;
  }
}
@media all and (min-width: 1200px) {
  .restaurant_contenu_menu {
    width: 30%;
  }
}

/*# sourceMappingURL=style.css.map */
