/* --- footer --- */

footer
{
    background-color: #383838;
    color: white;
        a{
            color: white;
        }
}

.class_bottom
{
    margin: 0;
    padding: 32px 5%;
    list-style-type: none;
        
}

.titre_footer
{
    font-family: "Shrikhand", sans-serif;
    font-size: 18px;
    padding-bottom: 20px;
}

.li_footer{
    padding-bottom: 8px;
}

.footer_icon
{
    padding-right: 8px;
    font-size: small;
}

.fa-utensils
{
    padding-right: 13px;
}

/* footer ~media queries */

.class_bottom
{
    @include tablet{
        padding: 32px 3%;
    }
}

