/* --- footer --- */

footer
{
    background-color: #383838;
    color: white;
        a{
            color: white;
        }
}

.class_bottom
{
    margin: 0;
    padding: 32px 5%;     
}

.ul_bottom
{
    list-style-type: none;
    padding: 0;
}

.titre_footer
{
    font-family: "Shrikhand", sans-serif;
    font-size: 18px;
    font-weight: normal;
    padding-bottom: 0px;
    margin: 0;
}

.li_footer{
    padding-bottom: 8px;
}

.footer_icon
{
    padding-right: 8px;
    font-size: small;
}

.fa-utensils
{
    padding-right: 13px;
}

footer li a:hover{
    color: $color_tertiaire;
}


/* footer ~ media queries */

.class_bottom
{
    @include mobile_p{
        padding: 32px 3%;
    }
    @include tablet{
        padding: 32px 3%;
    }
    @include desktop{
        padding: 32px 2%;
    }
}

.titre_footer
{
    @include tablet_p{
        text-align: center;
        font-size: 20px;
        font-weight: 300;
    }
    @include desktop{
        text-align: center;
        font-size: 24px;
        font-weight: 300;
    }
}

.ul_bottom
{
    @include tablet_p{
        display: flex;
        justify-content: center;
    }
    @include desktop{
        display: flex;
        justify-content: center;   
    }
}

.li_footer
{
    @include tablet_p{
        font-size: 16px;
        padding-right: 50px;
    }

    @include desktop{
        font-size: 18px;
        padding-right: 50px;
    }
}
