/* Animations */

/* spinner */

.chargement {
  animation: load 3s forwards;
  background-color: white;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
}

@keyframes load {

  70% {
    opacity: 1;
  }

  99% {
    opacity: 0.25;
    transform: scale(1);
  }

  100% {
    opacity: 0.25;
    transform: scale(0);
  }
}


.spinner {
    animation:spin 1s infinite linear;
    border:solid 2vmin transparent;
    border-radius:50%;
    border-right-color:$color_primaire;
    border-top-color:$color_primaire;
    box-sizing:border-box;
    height:20vmin;
    left:calc(50% - 10vmin);
    position:fixed;
    top:calc(50% - 10vmin);
    width:20vmin;
    z-index:1;
    &:before {
      animation:spin 2s infinite linear;
      border:solid 2vmin transparent;
      border-radius:50%;
      border-right-color:$color_secondaire;
      border-top-color:$color_secondaire;
      box-sizing:border-box;
      content:"";
      height:16vmin;
      left:0;
      position:absolute;
      top:0;
      width:16vmin;
    }
    &:after {
      animation:spin 3s infinite linear;
      border:solid 2vmin transparent;
      border-radius:50%;
      border-right-color:$color_tertiaire;
      border-top-color:$color_tertiaire;
      box-sizing:border-box;
      content:"";
      height:12vmin;
      left:2vmin;
      position:absolute;
      top:2vmin;
      width:12vmin;
    }
}
  
@keyframes spin {
  100% {
    transform:rotate(360deg);
  }
}

/* boutons */

.button_exploration:hover{
  box-shadow: 6px 12px 10px $color_shadow;
  filter: brightness(110%);
  transition: 0.2s;
  cursor: pointer;
} 


.btn_com:hover {
  box-shadow: 6px 12px 10px $color_shadow;
  filter: brightness(110%);
  transition: 0.2s;
  cursor: pointer;
}

/* fonctionnement */

.cadre_fonctionnement:hover{
  background-color: lighten($color_primaire,35%);
    .fonctionnement_icon{
      color: $color_primaire;
    }
}

/* coeur */

.coeur_vide{
  position: absolute;
  z-index: 1;
    &:hover {
      animation: vide 1s forwards linear;
      cursor: pointer;
        & + .coeur {
          opacity: 1;
          transform: scale(1);
          transition: transform 1s linear;
        }
    }
}

.coeur_plein{
  position: absolute;
  transform:scale(0);
  opacity: 0;
  background: linear-gradient($color_primaire, $color_secondaire);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}


@keyframes vide {
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* menu delai*/

.art_1 {
  animation: delai 1000ms 200ms ease-in-out backwards;
}

.art_2 {
  animation: delai 1000ms 400ms ease-in-out backwards;
}

.art_3 {
  animation: delai 1000ms 300ms ease-in-out backwards;
}

.art_4 {
  animation: delai 1000ms 800ms ease-in-out backwards;
}

.art_5 {
  animation: delai 1000ms 1000ms ease-in-out backwards;
}

.art_6 {
  animation: delai 1000ms 1200ms ease-in-out backwards;
}

.art_7 {
  animation: delai 1000ms 1400ms ease-in-out backwards;
}

.art_8 {
  animation: delai 1000ms 1800ms ease-in-out backwards;
}

.art_9 {
  animation: delai 1000ms 2000ms ease-in-out backwards;
}

.art_10 {
  animation: delai 1000ms 2200ms ease-in-out backwards;
}

@keyframes delai {
  0% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}



