/* Animations */

/* spinner */

.chargement {
  animation: load 3s forwards;
  background-color: white;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
}

@keyframes load {

  70% {
    opacity: 1;
  }

  99% {
    opacity: 0.25;
    transform: scale(1);
  }

  100% {
    opacity: 0.25;
    transform: scale(0);
  }
}


.spinner {
    animation:spin 1s infinite linear;
    border:solid 2vmin transparent;
    border-radius:50%;
    border-right-color:$color_primaire;
    border-top-color:$color_primaire;
    box-sizing:border-box;
    height:20vmin;
    left:calc(50% - 10vmin);
    position:fixed;
    top:calc(50% - 10vmin);
    width:20vmin;
    z-index:1;
    &:before {
      animation:spin 2s infinite linear;
      border:solid 2vmin transparent;
      border-radius:50%;
      border-right-color:$color_secondaire;
      border-top-color:$color_secondaire;
      box-sizing:border-box;
      content:"";
      height:16vmin;
      left:0;
      position:absolute;
      top:0;
      width:16vmin;
    }
    &:after {
      animation:spin 3s infinite linear;
      border:solid 2vmin transparent;
      border-radius:50%;
      border-right-color:$color_tertiaire;
      border-top-color:$color_tertiaire;
      box-sizing:border-box;
      content:"";
      height:12vmin;
      left:2vmin;
      position:absolute;
      top:2vmin;
      width:12vmin;
    }
}
  
@keyframes spin {
  100% {
    transform:rotate(360deg);
  }
}

/* boutons */

.button_exploration:hover{
  box-shadow: 12px 12px 10px $color_shadow;
  filter: brightness(110%);
  transition: 0.2s;
  cursor: pointer;
} 


.btn_com:hover {
  box-shadow: 12px 12px 10px $color_shadow;
  filter: brightness(110%);
  transition: 0.2s;
  cursor: pointer;
}
